* {
	margin: 0;
	padding: 0;
	font-family: tohama, verdana, sans-serif;
	font-size: small;
}

body {
	padding: 5px;
	margin: 0 auto;
	margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}

p {
	margin-bottom: 5px;
}

body, #header, #content, #footer {
	width: 600px;
}

#header {
	padding-left: 5px;
	border-bottom: 5px solid black;
}

#header a {
	color: black;
}

#content { 
	min-height:450px; /* for modern browsers */
	height:auto !important; /* for modern browsers */
	margin-top: 1em;
	padding: 0.5em;
}

#posts {
	margin: 0;
	margin-top: 1em;
	padding: 0 ;
}

#posts li {
	list-style-type: none;
}

#post {
	text-align: justify;
}

#post h1 {
	margin-bottom: 1em;
}

#footer { 
	margin-top: 1em;
}

#copy {
	text-align: center;
}

.blue {
	color: blue;
}