* {
	margin: 0;
	padding: 0;
}

body {
	width:750px;
	margin:0 auto;
	margin-top:30px;
}

#header {
	width:750px;
	height:150px;
	background-color:#333333;
}

#navigation {
	width:750px;
	height:40px;
}


#content { 
	width:750px;
	min-height:450px; /* for modern browsers */
	height:auto !important; /* for modern browsers */
}

#footer { 
	width:750px;
	height:100px;
	background-color:#333333;
	margin-top:10px;
}